.postingContainer {
    width: auto;
    margin: 10px;
    margin-left: 3%;
    margin-right: 3%;

    flex: auto;
    display: flex;

    background-color: white;
    box-shadow: 0 0 3px black;
}

.postingWrapper {
    padding: 10px;

    flex: auto;

    display: flex;
    flex-direction: column;
}

/* posting title */
.postingTitle {
    outline: none;
    font-size: 14px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1.5%;
    margin-bottom: 5px;

    border-radius: 10px 10px;

    border: 0;
    background-color: rgb(235, 235, 235);
}

.postingTitle:focus {
    outline: none;
}

/* posting attach */
.postingAttach {
    margin: 1% 0% 1% 0%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.postingAttachLabel {
    background-color: orange;
    border-radius: 7px;
    width: max-content;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}

.postingAttachList {
    margin-bottom: 5px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    padding-left: 0;
}

.postingAttachList li {
    margin-right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listDeleteBtn {
    width: 18px;
    margin-left: 2px;
}

/* posting main */
.postingMainContainer {
    width: 100%;

    flex: 1;

    border-radius: 10px 10px;
    border: 0;
    background-color: rgb(235, 235, 235);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.postingMain {
    /* background-color: blue; */
    width: 97%;
    height: 95%;
    /* overflow-y: scroll; */
}

.preview {
    position: relative;
    /* background-color: red; */

    width: 80%;
    height: 70%;

    margin: 20px auto;
}

.attachedImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.postingText {
    width: 100%;
    height: 100%;

    border: none;
    outline: none;
    resize: none;

    background-color: rgb(235, 235, 235);
}

/* posting bottom */
.postingBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cancelBtn,
.completeBtn {
    color: black;
    border: none;
    outline: 0;
    margin: 10px;
    margin-bottom: 0;

    padding: 5px 0 5px 10px;
    border-radius: 7px;
    font-weight: bold;
    letter-spacing: 10px;

    cursor: pointer;

    transition: all ease 0.2s;
}

.cancelBtn {
    background-color: tomato;
}

.cancelBtn:hover {
    transform: scale(1.1);
}

.completeBtn {
    background-color: rgb(79, 140, 244);
}

.completeBtn:hover {
    transform: scale(1.1);
}
