@font-face {
    font-family: "Main";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/MabinogiClassicR.woff2")
        format("woff2");
}

.readWrapper {
    margin-top: 5%;
    margin-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

.read {
    font-family: "Main";
}

.titleBar {
    margin-left: 1%;
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 1%;
}

.info {
    margin-bottom: 2%;
}

.username {
    display: inline-block;
    font-size: 20px;

    margin: 1% 2% 1% 1%;
    /* margin-top: 1%;
    margin-right: 2%;
    margin-bottom: 1%;
    margin-left: 1%; */
    padding-right: 2%;

    border-right: 1px solid black;
}

.date {
    display: inline-block;
    font-size: 16px;
}

.view {
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-right: 2%;

    display: inline-block;
    font-size: 20px;
    float: right;
}

.commentInfo {
    display: inline-block;
    font-size: 20px;

    margin-top: 1%;
    margin-right: 1%;

    float: right;
}

.content {
    padding-top: 3%;
    padding-bottom: 2%;

    border-top: 3px solid skyblue;

    line-height: 2em;
    font-size: 24px;
}

.like {
    font-size: 14px;
    text-align: center;
    margin-top: 5%;
    padding-bottom: 2%;
    border-bottom: 3px solid skyblue;
}

.iconBox {
    margin: 0 auto;
    width: max-content;
}
.heart {
    font-size: 36px !important;
    color: red;
}

#invisible {
    display: none;
}

.delete {
    display: inline-block;
    cursor: pointer;
}

.correct {
    display: inline-block;
    cursor: pointer;
}

.likeButton {
    margin-left: 20%;
    display: inline-block;
    cursor: pointer;
}

.comment {
    font-family: "Main";
    font-size: 20px;
}

.commentmain {
    font-size: 24px;
    margin-top: 5%;
    margin-bottom: 3%;
}

.commenttitle {
    padding-bottom: 5px;
}

.comments {
    margin-top: 1%;
}

.commentusername {
    text-align: left;
    font-size: 20px;
}

.commentcontent {
    text-align: right;
    font-size: 18px;
    margin-left: 5%;
}

.commentDelete {
    margin-left: 5%;
    font-size: 15px;
    cursor: pointer;
}

.newComment {
}

.writeComment {
    margin: 1%;
    width: 400px;
    height: 100px;
    border: 0;
    outline: none;
}

.writeComment:hover {
    outline: none;
}

.submitCommentButton {
    margin-left: 5%;
    display: inline;
    cursor: pointer;
}

.submitCommentButton:hover {
    color: white;
}

.listbutton {
    color: black;
    font-size: 20px;
    box-sizing: border-box;
    cursor: pointer;
}
