* {
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: "LOLFontlight";
    src: url(../assets/fonts/RIXGOM.TTF) format("truetype");
}

@font-face {
    font-family: "LOLFontBold";
    src: url(../assets/fonts/RIXGOEB.TTF) format("truetype");
}
