* {
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: "LeferiPoint-WhiteObliqueA";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "EarlyFontDiary";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2")
        format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MabinogiClassicR";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/MabinogiClassicR.woff2")
        format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "나눔고딕";
    src: url(../assets/fonts/나눔고딕.ttf) format("truetype");
}

@font-face {
    font-family: "LOLFontlight";
    src: url(../assets/fonts/RIXGOM.TTF) format("truetype");
}

@font-face {
    font-family: "LOLFontBold";
    src: url(../assets/fonts/RIXGOEB.TTF) format("truetype");
}
