.skills {
    text-align: center;
    align-content: center;
    padding-top: 5%;
    padding-bottom: 50%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    background-color: beige;
}

/* 스킬 아이콘 이미지 */
.skillsTitle {
    font-size: xx-large;
    font-family: "LOLFontBold";
    margin-bottom: 5%;
}

.skillswrapper {
    display: flex;
    flex-direction: column;
}

.passiveSkill {
    width: 80%;
    margin: auto;

    background-color: white;
}

.QSkill {
    width: 80%;
    margin: auto;

    background-color: white;
}

.WSkill {
    width: 80%;
    margin: auto;

    background-color: white;
}

.ESkill {
    width: 80%;
    margin: auto;

    background-color: white;
}

.RSkill {
    width: 80%;
    margin: auto;

    background-color: white;
}

.skillName {
}

.skillDescriptionDiv {
    display: flex;
}

.skillImg {
}

.skillDescription {
}

.skillVideo {
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#invisible {
    display: none;
}
/* 안보이는 설정 */
