.MyPageContainer {
    position: relative;
    width: 100%;

    background-color: black;
}

.myPageWrapper {
    width: 70%;
    height: 100vh;

    margin: auto;
    padding-top: 100px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-color: rgba(0, 0, 0, 0.5);
}
