* {
    box-sizing: border-box;
}

button {
    margin: 25px;
    padding: 0;
    background-color: transparent;
    font-family: LOLFontlight;
    color: #fbceb1;
}

button:hover > #champion_img {
    border: 1px solid #fbceb1;
}

#champion_img {
    display: block;
    width: 82px;
    height: 82px;
}

.mainDisplay {
    padding-left: 100px;
    padding-right: 100px;
    background-color: black;
}

.mainDisplay > h1 {
    font-family: LOLFontBold;
    font-weight: normal;
    text-align: center;
    margin: 0;
    color: white;
}
