.community {
    width: 100vw;
    min-width: 900px;
    min-height: 100vh;
    height: 100%;
    background-color: rgb(235, 235, 235);
    display: flex;
    align-items: center;
    justify-content: center;
}

.communityWrapper {
    width: 70%;
    min-height: 100vh;
    height: 100%;
    display: flex;

    display: flex;
    flex-direction: column;
}
