.topbarContainer {
    color: white;
    background-color: rgb(145, 146, 255);
    position: sticky;
    top: 0;
    padding-bottom: 2.1%;
    padding-top: 2%;
    padding-left: 2%;
}

#link {
    font-size: small;
    text-decoration: none;
    color: rgb(62, 224, 230);
    border-bottom: 2px solid transparent;
    padding-bottom: 2.1%;
    margin-left: 2%;
    margin-bottom: 0;
}

#link:hover {
    border-bottom: 2px solid white;
    color: white;
    cursor: pointer;
}

#selected {
    font-size: small;
    text-decoration: none;
    padding-bottom: 2.1%;
    margin-left: 2%;
    margin-bottom: 0;
    border-bottom: 2px solid white;
    color: white;
}
