.topbarContainer {
    color: white;
    background-color: black;
    position: sticky;
    top: 0;
    padding-bottom: 2.1%;
    padding-top: 2%;
    padding-left: 2%;
    border-bottom: 1px solid #fbceb1;
}

#link {
    font-family: "LOLFontBold";
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
    color: #fbceb1;
    padding-bottom: 2.1%;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 0;
}

#link:hover {
    background: linear-gradient(to top, #fff1e781, 15%, transparent);
    color: rgb(235, 217, 217);
    cursor: pointer;
}

#selected {
    font-family: "LOLFontBold";
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 2.1%;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 0;
    background: linear-gradient(to top, #fff1e781, 15%, rgb(0, 41, 9));
    color: rgb(235, 217, 217);
}

.loginButton,
.profileButton {
    float: right;
    font-family: "LOLFontBold";
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
    color: #fbceb1;
    padding-bottom: 2.1%;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 0;
    margin-right: 2%;
}

.loginButton:hover,
.profileButton:hover {
    background: linear-gradient(to top, #fff1e781, 15%, transparent);
    color: rgb(235, 217, 217);
    cursor: pointer;
}
