@font-face {
    font-family: "Community";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "나눔고딕";
    src: url(../../../assets/fonts/나눔고딕.ttf) format("truetype");
}

@font-face {
    font-family: "diary";
    src: url(../../../assets/fonts/EF_Diary.ttf) format("truetype");
}

.info {
    display: flex;
    justify-content: space-between;

    /* margin-bottom: 10vh; */
    border-radius: 10px;

    /* width: 70vh; */
    min-height: 25vh;

    background-color: rgba(255, 255, 255, 0.9);
    font-family: "diary";

    transform: scale(0);
    transition: all ease 0.5s;

    box-shadow: 0 0 25px white;
}

.infoLeft {
    width: 30%;
    padding-top: 5vh;
    padding-left: 3vh;

    color: black;
    background-color: white;
    border-radius: 10px;

    font-size: 28px;
}

.infoRight {
    width: 70%;
    background-color: aliceblue;
    border-radius: 10px;

    padding-top: 1vh;
}

.userName {
    width: fit-content;
    margin: 0 0 1vw 1vh;
    padding: 1vh 1vh 1vh 1vh;

    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    font-size: 20px;
    color: black;
}

.userNameP {
    margin: 0;

    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.userEmail {
    width: fit-content;
    margin: 0 0 1vw 1vh;
    padding: 1vh 1vh 1vh 1vh;

    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    color: black;
    font-size: 20px;
}

.userEmailP {
    margin: 0 0 1vh 0;

    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.signupDate {
    width: fit-content;
    margin: 0 0 1vw 1vh;
    padding: 1vh 1vh 1vh 1vh;

    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    color: black;
    font-size: 20px;
}

.signupDateP {
    margin: 0 0 1vh 0;

    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.show {
    transform: scale(1);
}