ul {
    list-style: none;
}

.menuContainer {
    position: relative;
}

.menuMainButton {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    /* transition: all 500ms linear; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999;
    top: -50px;
    left: -50px;
}

.menuSubButtonItem {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -50px;
    left: -50px;
}

.menuSubItemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menuContainer p {
    font-weight: bold;
}