.mainContainer {
    width: 60%;
    margin: auto;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftMenu {
    display: flex;
    flex-direction: column;
}

.userName {
}

.changePW {
    display: flex;
    flex-direction: column;
}
