#invisible {
    display: none;
}
/* 안보이는 설정 */

#skillIcon {
    width: 30px;
    height: 30px;
}
/* 스킬 아이콘 이미지 */

#championIcon {
    width: 100px;
    height: 100px;
}
/* 챔피언 초상화 이미지 */

.infoBar {
    margin: 2%;
}

/* 챔피언 초상화, 스킬아이콘 Div들의 상위 Div */
.championIcon,
.skillsIcon {
    margin: 1%;
    position: relative;
    display: inline;
}
/* 챔피언 초상화, 스킬아이콘들이 들어가있는 Div */

.passiveIcon,
.qIcon,
.wIcon,
.eIcon,
.rIcon {
    margin: 0.5%;
    position: relative;
    display: inline;
}
/* 스킬아이콘들이 들어가있는 Div안의 Div */

.passiveInfo,
.qInfo,
.wInfo,
.eInfo,
.rInfo {
    font-family: LOLFontlight;
    color: white;

    background-color: black;

    position: absolute;
    display: inline;
    z-index: 10px;
    width: 200px;

    left: 30%;
    top: 80%;
}
/* 스킬 상세 정보 창 */

p {
    font-family: LOLFontlight;
    font-size: small;
}
