.mainDisplay {
    width: 100%;
    background-color: black;
}

.mainDisplayWrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* backgrdound */
.championIllustration {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* object-fit: cover 로 해주니까 윗부분이 잘림 */
    object-fit: cover;
    background-size: contain;
    /* 이미지 어둡게 해주기 */
    filter: brightness(65%);

}
