.topbarContainer {
    width:auto;
    height: 70px;
    border: 1px solid black;
    border-radius: 10px 10px;
    
    margin: 10px;
    margin-bottom: 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: antiquewhite;
}

.logo {
    height: 30px;
    object-fit: contain;
    margin-left: 20px;
    cursor: pointer;
}

.login {
    border: 1px solid black;
    border-radius: 2px 2px;

    font-size: 20px;
    margin-right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2px 7px;

    cursor: pointer;
    text-decoration: none;
    color: black;
}

.userProfile {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 20px;
}

.defaultProfile {
    font-size: 50px !important;
    cursor: pointer;
}