/* Global setting */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-grey: #4d4d4d;
    --color-dark-grey: #424242;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;

    /* Font Size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 16px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;

    /* Animation */
    --animation-duration: 300ms;
}

.topbarContainer {
    position: absolute;
    height: 100px;
    width: 100%;
    /* background-color: inherit; */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(250, 255, 0, 0.1407913507199755) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    /* opacity: 0.5; */
    z-index: 999;

}

.topbarLeft {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    height: 30px;
    object-fit: contain;
    margin-left: 20px;
    cursor: pointer;
}

.topbarCenter {
    flex: 3;
}

.searchbar {
    width: 100%;
    height: 40px;
    background-color: inherit;
    border-radius: 30px;
    display: flex;
    align-items: center;
    border: 1px solid white;
    /* 애니메이션 추가 */
    transition: all var(--animation-duration) ease-in-out;
}

.searchInput {
    margin-left: 10px;
    width: 100%;
    height: 70%;
    border: none;
    background: transparent;
    margin-right: 10px;
    /* input 박스 클릭시 생기는 내부 테두리 제거 (외부 테두리와는 다른거임) */
    outline: none; 
}

/* placeholder의 색상및 크기 설정 */
.searchInput::placeholder {
    color: white;
    font-weight: 550;
}

/* input에 마우스가 focus되면 배경을 하얀색으로 변경 */
.searchbar:focus-within {
    background-color: white;
    opacity: 0.9;
}

/* input에 마우스가 focus되면 검색 아이콘을 검정색으로 변경 */
.searchInput:focus~ .searchButton{
    color: black
}

.searchButton {
    margin-right: 10px;
    font-size: 32px !important;
    color: white;
    cursor: pointer;
    /* 애니메이션 추가 */
    transition: all var(--animation-duration) ease-in-out;
}

.topbarRight {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    margin-right: 10px;
}

.toggleIcon {
    font-size: 32px !important;
    margin-left: 25px;
    cursor: pointer;
    display: none !important;
}

.language,
.seperate {
    font-size: 32px !important;
    margin-left: 25px;
    cursor: pointer;
}

/* 버튼을 누르면 보여짐 */
.toggleIcon.active {
    display: block !important;
}

.seperate {
    margin-bottom: 8px;
    cursor: auto;
}


