/* Global setting */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-grey: #4d4d4d;
    --color-dark-grey: #424242;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;

    /* Font Size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 16px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;

    /* Animation */
    --animation-duration: 300ms;
}

@font-face {
    font-family: "Community";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

.topbarContainer {
    position: absolute;
    height: 70px;
    width: 100%;
    top: 0;
    left: 0;
    /* background-color: transparent; */
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 50%,
        rgba(250, 255, 0, 0.1407913507199755) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    /* opacity: 0.5; */
    z-index: 999;
}

.topbarLeft {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    height: 30px;
    object-fit: contain;
    margin-left: 20px;
    cursor: pointer;
}

.topbarCenter {
    flex: 3;
}

.searchbar {
    width: 100%;
    height: 40px;
    background-color: inherit;
    border-radius: 30px;
    display: flex;
    align-items: center;
    border: 1px solid white;
    /* 애니메이션 추가 */
    transition: all var(--animation-duration) ease-in-out;
}

.searchInput {
    margin-left: 10px;
    width: 100%;
    height: 70%;
    border: none;
    background: transparent;
    margin-right: 10px;
    /* input 박스 클릭시 생기는 내부 테두리 제거 (외부 테두리와는 다른거임) */
    outline: none;
}

/* placeholder의 색상및 크기 설정 */
.searchInput::placeholder {
    color: white;
    font-weight: 550;
}

/* input에 마우스가 focus되면 배경을 하얀색으로 변경 */
.searchbar:focus-within {
    background-color: white;
    opacity: 0.9;
}

/* input에 마우스가 focus되면 검색 아이콘을 검정색으로 변경 */
.searchInput:focus ~ .searchButton {
    color: black;
}

.searchButton {
    margin-right: 10px;
    font-size: 32px !important;
    color: white;
    cursor: pointer;
    /* 애니메이션 추가 */
    transition: all var(--animation-duration) ease-in-out;
}

/* topbar의 오른쪽부분 */
.topbarRight {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    margin-right: 10px;
}

/* myPageIcon,dropMenu를 감싸고있는 Div */
.myPageDiv {
    position: relative;
    width: 100px;
    transition: all ease 0.2s;
}

/* myPage아아콘 */
.myPage {
    font-size: 48px !important;
    cursor: pointer;

    color: var(--color-dark-white);
}

.myPage:hover {
    color: var(--color-white);
}

/* myPageIcon을 선택했을 때 하얀색으로 */
.myPageActive {
    color: var(--color-white);
}

/* myPageIcon을 클릭했을 때 나타나는 드롭메뉴*/
.dropMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;

    margin-top: auto;
    font-size: 14px;
    font-weight: bold;
    font-family: "Community";

    border-radius: 10px;
    cursor: default;

    opacity: 0;
    color: white;

    width: 100px;
    height: 0px;
    padding: 0px;
    background: #000000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #fbceb1 solid 1px;

    transition: all ease 0.2s;
    transform: translateX(-25%);
}

/* 드롭메뉴의 말풍선 모양 구현을 위함 */
.dropMenu::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: #000000 transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -15px;
    left: 35px;
}

/* 드롭메뉴의 말풍선 모양 구현을 위함 */
.dropMenu::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: #fbceb1 transparent;
    display: block;
    width: 0;
    z-index: 0;
    top: -16px;
    left: 35px;
}

/* 드롭메뉴를 구성하는 Div */
.username {
    margin: 10px 0 10px 0;
    border-bottom: 1px solid #fbceb1;
}
.userInfo {
    margin: 0px 0 10px 0;
    border-bottom: 1px solid #fbceb1;
}
.login {
    margin: 0px 0 10px 0;
}

.username:hover {
    text-decoration: underline;
    cursor: pointer;
}
.userInfo:hover {
    text-decoration: underline;
    cursor: pointer;
}
.login:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* 안보이던 드롭메뉴를 보이도록 */
.active {
    height: 150px;
    opacity: 1;
}

/* myPageDiv 이동 */
.move {
    transform: translateX(-100%);
}
