.summonersContainer {
    width: 100%;
    min-height: 100vh;
    min-width: 1200px;
    height: 100%;
    background-color: #191b1b;
}

.summonersWrapper {
    width: 80%;
    min-height: 100vh;
    min-width: 1000px;
    height: 100%;
    display: flex;
    background-color: #302e2e;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.loadingBox, 
.notFoundBox {
    width: 100%;
    min-height: inherit;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(188, 185, 185);
    font-weight: bold;
    font-size: 24px;
}

.loadingIcon,
.errorIcon {
    color: rgb(188, 185, 185);
    font-size: 242px !important;
    margin-bottom: 50px;
    animation: rotate_image 2s linear infinite;
}

.errorIcon {
    animation: semi_rotate_image 3s ease-in-out infinite;
}

.errorMsg {
    font-size: 28px;
    color: red;
    animation: fade_up 3s ease-in-out infinite;
}

.noticeBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    font-size: 24px;
    font-weight: normal;

    color: rgb(198, 136, 23);
    animation: fade_in 5s ease-in-out infinite;
}

.noticeIcon {
    font-size: 24px !important;
}

@keyframes rotate_image {
    100% {
        transform: rotate(-180deg);
    }
}

@keyframes semi_rotate_image {
    0% {
        transform: rotate(-45deg);
    }

    50% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(-45deg);
    }
}

@keyframes fade_in {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fade_up {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0px);
    }
}
