.summonersContainer {
    width: 100%;
    min-width: 1200px;
    min-height: 100vh;
    height: 100%;
    background-color: #191B1B;
}

.summonersWrapper {
    width: 80%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    background-color: aquamarine;

    margin: 0 auto;
    margin-top: 70px;

    display: flex;
    flex-direction: column;
}