@font-face {
    font-family: "Community";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "나눔고딕";
    src: url(../../../assets/fonts/나눔고딕.ttf) format("truetype");
}

.tip {
}

.tipTitle {
    color: white;
    text-align: center;

    font-size: 38px;
    font-family: "Community";
    font-weight: bolder;
}

.tipAddendum {
    text-align: center;

    color: white;
    font-family: "Community";
    font-size: 20px;
    font-style: italic;
    text-shadow: 0 0 20px black;

    opacity: 0.7;
}
.ally {
    display: flex;
    flex-direction: column;

    background-size: cover;
    background-attachment: fixed;

    min-height: 100vh;
    padding-top: 10%;
}
.allyTips {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin-top: 7%;

    transform: translateX(-50%);
    opacity: 0;
    transition: 1s;
}

.allyTip {
    font-family: "Community";

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    padding: 1%;
    border-radius: 10px;

    background-color: rgba(0, 0, 0, 0.3);
    width: fit-content;

    color: white;
}
.enemy {
    display: flex;
    flex-direction: column;

    background-size: cover;
    background-attachment: fixed;

    min-height: 90vh;
    padding-top: 10%;
}
.enemyTips {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin-top: 7%;
    margin-bottom: 7%;
    padding-bottom: 5%;

    transform: translateX(-50%);
    opacity: 0;
    transition: 1s;
}

.enemyTip {
    font-family: "Community";

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    padding: 1%;
    border-radius: 10px;

    background-color: rgba(0, 0, 0, 0.3);
    width: fit-content;

    color: white;
}

.skinName {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Community";
    font-size: 24px;
    color: rgba(255, 255, 255, 0.5);

    width: fit-content;
    margin: 0 auto 0 auto;
    padding-top: 10%;
    padding-bottom: 5%;
}

.allytipButton {
    width: 170px;
    z-index: 100;
    position: fixed;
    right: 0;
    top: 55%;

    font-family: "Community";
    font-size: 18px;

    color: white;
    background-color: transparent;
    border-color: transparent;

    transition: all ease 0.5s;
}
.enemytipButton {
    width: 180px;
    z-index: 100;
    position: fixed;
    right: 0;
    top: 60%;

    font-family: "Community";
    font-size: 18px;

    color: white;
    background-color: transparent;
    border-color: transparent;

    transition: all ease 0.5s;
}

.arrow {
    width: 40px;
    height: 40px;
    margin-right: 5px;

    vertical-align: middle;
}
#active {
    transform: translateX(0);
    opacity: 1;
}
