.footerContainer {
    width: auto;
    height: 132px;
    border: 1px solid black;

    margin-right: 3%;
    margin-left: 3%;
    /* 하단고정 */
    bottom: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: antiquewhite;
}

.footerLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    font-size: 12px;
    color: grey;

    padding: 0 10px;

    flex: 5;
}

.footerLeft p {
    margin-top: 0;
    margin-bottom: 5px;
}

.footerLeft p:last-child {
    margin-bottom: 0;
}

.footerCenter {
    flex: 3;
}

.footerRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.github {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;
    text-decoration: none;
    border: none;
    color: black;

    cursor: pointer;
}

.github:hover {
    color: blue;
}
