@font-face {
    font-family: "나눔고딕";
    src: url(../../../assets/fonts/나눔고딕.ttf) format("truetype");
}

.mainContainer {
    width: auto;
    /* border: 1px solid black;
    border-radius: 10px 10px; */

    margin: 10px;
    margin-right: 3%;
    margin-left: 3%;

    flex: auto;

    display: flex;
    flex-direction: column;

    background-color: white;
    box-shadow: 0 0 3px black;
}

/* main Top */
.mainTop {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */

    margin: 5px 5px;
    margin-top: 10px;
}

.mainTopLeft,
.mainTopRight {
    display: flex;
    justify-content: space-around;
    align-items: center;

    color: rgb(180, 180, 180);
}

.mainTopLeft {
    width: 300px;
}

/* main Cneter */
.listSortItem {
    font-size: 14px !important;
    display: flex;
    text-align: center;

    /* width: 100px; */
    font-weight: bolder;
    border: 0;
}

.listSortItem:first-child {
    margin-left: 0;
}

.listSortItem:hover {
    cursor: pointer;
    color: red;
}

#selectedSort {
    color: red;
}

.eyeIcon,
.clockIcon,
.fireIcon,
.pencilIcon {
    font-size: 18px !important;
}

.writePost {
    margin-left: 5px;
    padding: 2px 2px;
    align-items: center;

    font-size: 14px;
    cursor: pointer;
}

.writePost:hover {
    color: black;
}

.mainMiddle {
    font-family: "나눔고딕";

    border-top: 1px solid rgb(235, 235, 235);
    margin-top: 10px;
    border-collapse: collapse;
}

.mainBottom {
    margin-top: auto;
    margin-bottom: 3vh;
}

th,
td {
    border-bottom: 1px solid rgb(235, 235, 235);
    padding: 10px;
}

.list {
    font-size: 14px;
}

.list:hover {
    background-color: rgb(250, 250, 250);
}

.title {
}

.tbody {
}

.titleLink {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.titleLink:hover {
    /* border-bottom: 1px solid black; */
}

.title,
.nick,
.date,
.view,
.like {
    vertical-align: middle;
    text-align: center;
}

/* main Bottom */
.mainBottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pageList {
    padding-left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.listItem {
    margin: 0 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    font-size: 18px;
}

.listItem:hover {
    color: red;
}

#selectedItem {
    font-size: 24px;
    color: red;
}

.listBtnIcon {
    font-size: 32px !important;
}

/* 새로운 게시글 */
.newPost {
    left: 50%;
    position: absolute;
    cursor: pointer;
}

#transparent {
    display: none;
}
