button {
    margin: 20px;
    border: none;
    background-color: transparent;
    color: white;
}

#champion_img {
    display: block;
    width: 82px;
    height: 82px;
}

.mainDisplay {
    padding-left: 100px;
    padding-right: 100px;
    background-color: black;
}
