@font-face {
    font-family: "Community";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "나눔고딕";
    src: url(../../../assets/fonts/나눔고딕.ttf) format("truetype");
}

.about {
    padding-top: 5%;
    padding-bottom: 5%;
    /* margin-left: 10%;
    margin-right: 10%; */
    margin-top: 0;
    background-color: black;
    align-content: center;
    text-align: center;
}

.illustration {
    width: 80%;
    border-radius: 5%;
    opacity: 0.9;
}

.classImg {
    transition: all 200ms ease;
    width: 80px;
    height: 80px;
}

.classImg:hover {
    transform: scale(1.2);
}

.lore,
.aboutTitle {
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    align-content: center;
    text-align: center;
    line-height: 30px;
}

.aboutTitle {
    font-size: 38px;
    font-family: "Community";
    font-weight: bolder;

    margin-bottom: 3%;
}

.titleAddendum {
    color: white;
    font-family: "Community";
    font-size: 20px;
    font-style: italic;
    text-shadow: 0 0 2px black;

    opacity: 0.5;

    margin-bottom: 5%;
}

.lore {
    font-family: "Community";
    font-weight: bold;
    font-size: 18px;

    margin-bottom: 5%;
    margin-top: 5%;
}

.table {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
    display: table;
    table-layout: fixed;

    border-radius: 10px;

    font-family: "Community";
    font-weight: bold;
}

.aboutButton {
    width: 170px;
    z-index: 100;
    position: fixed;
    right: 0;
    top: 45%;

    font-family: "Community";
    font-size: 18px;

    color: white;
    background-color: transparent;
    border-color: transparent;

    transition: all ease 0.5s;
}

.arrow {
    margin-right: 5px;

    width: 40px;
    height: 40px;

    vertical-align: middle;
}
