@font-face {
    font-family: "Community";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "나눔고딕";
    src: url(../../../assets/fonts/나눔고딕.ttf) format("truetype");
}

.about {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    background-color: gray;
    align-content: center;
    text-align: center;
}

.illustration {
    width: 80%;
    border-radius: 5%;
    opacity: 0.9;
}

.classImg {
    transition: all 200ms ease;
    width: 80px;
    height: 80px;
}

.classImg:hover {
    transform: scale(1.2);
}

.lore,
.aboutTitle {
    margin-left: 10%;
    margin-right: 10%;
    align-content: center;
    text-align: center;
    line-height: 30px;
}

.aboutTitle {
    font-size: 38px;
    font-family: "나눔고딕";
    font-weight: bolder;

    margin-bottom: 5%;
}
.lore {
    font-family: "Community";
    font-weight: bold;
    margin-bottom: 5%;
    margin-top: 5%;
}

.table {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
    display: table;
    table-layout: fixed;

    border-radius: 10px;

    font-family: "Community";
    font-weight: bold;
}

tr {
}

td {
}
