.about {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    background-color: gray;
    align-content: center;
    text-align: center;
}

.illustration {
    width: 80%;
    border-radius: 5%;
    opacity: 0.9;
}

.classImg {
    transition: all 200ms ease;
    width: 80px;
    height: 80px;
}

.classImg:hover {
    transform: scale(1.2);
}

.lore,
.aboutTitle {
    margin-left: 10%;
    margin-right: 10%;
    align-content: center;
    text-align: center;
    line-height: 30px;
}

.aboutTitle {
    font-size: xx-large;
    font-family: "LOLFontBold";
    margin-bottom: 5%;
}
.lore {
    font-family: "LOLFontlight";
    font-weight: lighter;
    margin-bottom: 5%;
    margin-top: 5%;
}

.table {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
    display: table;
    table-layout: fixed;
}

tr {
    /* font-family: LOLFontlight;
    font-size: medium; */
}

td {
    /* border: 2px solid black;
    padding: 10px; */
}
